# Ignore WSL2 moved files
**.Identifier
# In case the fonts folder is not in the right place
fonts/
# Some random signing keys may appear
**.gpg

# User folder incorrectly created
**/~
# Oh My ZSH folder incorrectly created
**/.oh-my-zsh